*,*::after,*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

form {
    margin-bottom: 10px;
}
.container {
    background: linear-gradient( 136deg, rgb(254,225,64) 0%, rgb(250,112,154) 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    /* align-items: center */
}


.user-card {
    flex-basis: 100%;
    background: white;
    height: 100px;
    width:200px;
    border: 3px solid white;
    border-radius: 15px;
    margin-bottom: 10px;
    color: #666;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding: 5px  10px ;
    
   
}

.clear-button{
    color:#666;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}